/* 1. Importaciones */
@import url('variables.css');
@import url('layout.css');
@import url('components.css');
@import url('modules.css');

/* 2. Respaldo de Emergencia (Si lo de arriba no carga, esto sí lo hará) */
body {
	background-color: #f9f7f2 !important;
}

.welcome-title {
	font-family: 'Playfair Display', serif !important;
	font-style: italic;
}
